body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100dvh;
    background-color: var(--app--bg);
    color: var(--text--color);
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.2;
    box-sizing: border-box;
    overflow-y: scroll;
}

.scoreBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto 1fr);
    grid-template-areas:
        "playerText . aiText"
        "playerScore vs aiScore"
        ". drawText ."
        ". drawScore .";
    gap: 4px 8px;
    background-color: #ECEFF1;
    color: #37474F;
    border-top: 0;
    border-radius: 0 0 32px 32px;
    padding: 8px 16px;
    text-align: center;

    .text {
        font-size: 12px;
    }

    .score {
        font-size: 18px;
        line-height: 1;
        font-weight: 900;
    }
}

.currentGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin: auto;

    .gameResult {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 99px;
        width: 200px;
        height: 40px;
        background-color: #ECEFF1;
        font-weight: 900;
        text-align: center;
    }

    .gameChoice {
        margin: 0;
        border: 0;
        border-radius: 100%;
        padding: 0;
        width: 80px;
        aspect-ratio: 1 / 1;
        background-color: #E3F2FD;
        overflow: hidden;
        appearance: none;

        img {
            width: 100%;

            &:not([src]) {
                visibility: hidden;
            }
        }
    }

    .aiChoice {
        img {
            rotate: 180deg;
        }
    }
}

.choices {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-block-end: 48px;


    button {
        margin: 0;
        border: 0;
        border-radius: 100%;
        padding: 0;
        width: 80px;
        aspect-ratio: 1 / 1;
        background-color: #E3F2FD;
        overflow: hidden;
        transition: .2s;
        cursor: pointer;

        &:hover {
            background-color: #BBDEFB;
            scale: 1.05;
        }

        &:active {
            background-color: #90CAF9;
            scale: 0.95;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
}